*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    background-image: url(../images/codigo.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
}
a{
    text-decoration: none;
}
.containerMenu{
    display: flex;
    width: 100%;
    justify-content: space-between;
    background-color: #427E80;
    align-items: center;
}
.containerMenu ul{
    display: flex;
    justify-content: space-around;
    list-style-type: none;
    margin-right: 20%;
}
.containerMenu ul li{
    padding: 10px;
    text-decoration: none;
    background-color: #F0F5E4;
    border-radius: 15px;
    margin-left: 40px;

}
.containerTitulo{
    height: 400px;
    text-align: center;
    margin-top: 200px;
}
.tituloPrincipal{
    display: inline;
    font-size: 4rem;
    color: #F0F5E4;
    background-color: #2D2D2D;
}
.containerMain{
    width: 100%;
    height: 100vh;
    background-color: #427E80;
    text-align: center;
    display: flex;
    justify-content: space-around;

}
.containerMainHistoria{
    width: 100%;
    height: 160vh;
    background-color: #427E80;
    display: flex;
    flex-direction: column;
}
h2{
    display: block;
    text-align: center;
    align-items: center;
    color: #F0F5E4;
    font-size: 3.3rem;
    text-shadow: 2px 2px #154454;
}
.card{
    width: 350px;
    height: 350px;
    background-color: #F0F5E4;
    border: solid 5px #154454;
}
.imgCard{
    width: 100%;
    height: 60%;
}
.card a{
    display: block;
    margin: 0 auto;
    width: 200px;
    text-decoration: none;
    color: #F0F5E4;
    background-color: #427E80;
    font-size: 1.5rem;
    border-radius: 20px;
    box-shadow: 2px 2px 2px #154454;;
}
footer{
    display: flex;
    justify-content: space-between;
    background-color: #2D2D2D;
}
footer h3,h4{
    color: #F0F5E4;
}
.articleHistoria{
   display: flex;
   justify-content: space-around;
   align-items: center; 
}
.articleHistoriaR{
    display: flex;
    justify-content: space-around;
    align-items: center; 
    flex-flow: row-reverse;
 }

.articleVideo{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}
.articleVideo video{
    margin-top: 40px;
}

.articleHistoriaR h2{
    font-size: 3.2rem;
}

.articleHistoriaR p{
    font-size: 1.2rem;
}

.articleHistoria h2{
    font-size: 3.2rem;
}
.articleHistoria p{
    font-size: 1.2rem;
}

.containerMainJuguemos{
    width: 100%;
    background-color: #427E80;
    display: flex;
    flex-direction: column;
}

.cajasDrop{
    margin-top: 60px;
    height: 500px;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.caja1, .caja2, .caja3{
    background-color: grey;
    color: black;
    width: 23%;
    border: solid 2px black;
}

.cajasDrag{
    margin-top: 60px;
    height: 500px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 10px;
}

#reset{
    margin: 20px auto;
    box-shadow: 2px 3px #154454;
    border-radius: 10px;
    text-decoration: none;
    background-color: #F0F5E4;
    color: #154454;
    font-weight: 300;
    height: 40px;
    width: 200px;
}

svg{
    width: 200px;
    height: 80px;
}

#rect1{
    x:40px;
    y:5px; 
    width:70px; 
    height:35px; 
    rx:5px;
     fill:#3F6797;
}
#rect2{
    x:47px;
    y:10px; 
    width:55px; 
    height:25px; 
    rx:6px; 
    fill:#B1D5E4;
}
#poly1{ 
    fill:#3F6797;
}
#poly2{
    fill:#B1D5E4;
}

#rect1, #poly1{
animation: appear2 2s ease-out normal;
}

#rect2, #poly2{
    animation: appear 3s ease-in normal;
}

@keyframes appear{
    0%{
        transform: translate(0,-10px);
        opacity: 0;
    }
    100%{
        transform: translate(0,0);
        opacity: 1;
    }
}

@keyframes appear2{
    0%{
        transform: translate(0,-20px);
        opacity: 0;
    }
    100%{
        transform: translate(0,0);
        opacity: 1;
    }
}

button{
    cursor: pointer;
    transition: transform 200ms ease-out;
}

button img{
    width: 35px;
    height: 25px;
}

button:active{
    transform: scale(.9);
    box-shadow: none;
}
.botonera{
    width: 700px;
    display: flex;
    justify-content: space-around;
    background-color: #2D2D2D;
}